:root {
  --spacing: 1rem;
  --border-radius: 0.5rem;
  --border-radius-small: 5px;
  --font-size-900: 1.802rem;
  --font-size-800: 1.602rem;
  --font-size-700: 1.424rem;
  --font-size-600: 1.266rem;
  --font-size-500: 1.125rem;
  --font-size-400: 1rem;
  --font-size-300: 0.889rem;
  --font-size-200: 0.79rem;
  --font-size-100: 0.702rem;
  --primary: #000;
  --accent: #000;
  --gray: #eee;
  --button-color: var(--accent);
  --font-family: Futura, Trebuchet MS, Arial, sans-serif;
  --container: 1060px;
  --container-small: 600px;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  padding: var(--spacing);
  margin: 0;
  background-color: #fcf7bf;
}


img,
iframe {
  max-width: 100%;
}

a {
  color: var(--accent);
  cursor: pointer;
}

/** Utilities */
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.button,
button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 3px solid #000;
  cursor: pointer;
}

.button:focus,
.button:active,
.button:hover,
button:focus,
button:active,
button:hover {
  background-color: #fff;
}

/** Header */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: calc(var(--spacing) * 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  letter-spacing: -1px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  margin: 0 0 var(--spacing);
  color: var(--accent);
}

.logo {
  margin: 0;
}

.logo a,
.logo img {
  display: block;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul * {
  color: var(--accent);
}

nav ul svg {
  width: 2ch;
  max-height: 2ch;
  fill: var(--accent);
}

nav ul a {
  text-decoration: none;
  font-weight: bold;
}

blockquote {
  display: inline-block;
  margin: 0 0 var(--spacing);
  padding: 5px;
  font-style: italic;
}

#mc_embed_signup {
  flex: 100%;
  text-align: center;
  margin-bottom: var(--spacing);
}

#mc_embed_signup_scroll {
  display: inline-grid;
  grid-template-columns: auto auto;
}

form input[type="email"] {
  border: 2px solid #3c1646;
  padding: 8px;
}

form input[type="submit"] {
  display: block;
  height: 100%;
}

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: var(--spacing);
    text-align: left;
  }

  nav ul {
    display: flex;
    justify-content: start;
  }

  .links--social ul {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul li {
    margin-right: 1ch;
  }

  #mc_embed_signup {
    text-align: right;
  }
}

/** Shows */
.shows {
  padding: var(--spacing);
  box-shadow: 0.75rem 0.75rem 0 var(--accent);
  border: 3px solid #3c1646;
  color: var(--accent);
  max-width: 600px;
}

.shows h2 {
  margin-top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #3c1646;
  font-size: var(--font-size-400);
  padding-bottom: 0.5rem;
}

.show+.show {
  padding-top: var(--spacing);
  margin-top: var(--spacing);
  border-top: 1px solid #3c1646;
}

.show>a {
  display: block;
  text-decoration: none;
  color: var(--accent);
  position: relative;
}

.show>a::after {
  content: "More Info >";
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-100);
  text-transform: uppercase;
}

.show__date {
  font-size: var(--font-size-200);
  display: inline-block;
}

.show__badge {
  margin: 0;
  font-size: var(--font-size-300);
}

.show__badge::before {
  content: '(';
}

.show__badge::after {
  content: ')';
}

.show__city {
  margin: 5px 0;
  font-size: var(--font-size-400);
}

.show__otherbands {
  margin: 0;
  font-size: var(--font-size-100);
}

.show__link {
  margin: 0;
  font-size: var(--font-size-200);
}

@media (min-width: 1200px) {
  .shows-inner {
    overflow: auto;
    scrollbar-width: 1px;
  }
}

/** Main */
main {
  color: var(--primary);
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing);
}

@media (min-width: 768px) {
  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  main {
    grid-column: 2/3;
    grid-row: 2/-1;
    margin: 0 auto;
    max-width: var(--container);
  }
  
  .shows-page main {
    max-width: var(--container-small);
  }
}

.grid-cell {
  padding: clamp(var(--spacing), 2vw, calc(var(--spacing) * 2));
  border-top: 3px solid var(--primary);
}

.grid-cell[data-contents="album"] { 
  text-align: center;
  border-top: 0;
}

.grid-cell[data-contents="album"] img {
  border: 3px solid #000;
}

.grid-cell[data-contents="photo"] {
  padding: 0;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: none !important;
  transform: none !important;
}

.grid-cell--full {
  grid-column: 1/-1;
}

.grid-cell[data-contents="photo"] img {
  display: block;
}

.grid-cell[data-contents="merch"] {
  text-align: center;
}

.grid-cell[data-contents="merch"] a,
.grid-cell[data-contents="merch"] img {
  display: block;
}

.grid-cell[data-contents="bandcamp"] iframe {
  border: 3px solid var(--accent);
}

.grid-cell[data-contents="bandcamp"] iframe+iframe {
  margin-top: var(--spacing);
}

.grid-cell[data-contents="quotes"] blockquote {
  margin: 0;
}

.grid-cell[data-contents="quotes"] blockquote+blockquote {
  margin-top: var(--spacing);
  padding-top: var(--spacing);
  border-top: 1px solid var(--accent);
}

.grid-cell[data-contents="quotes"] blockquote cite {
  display: block;
}

.grid-cell[data-contents="video"] iframe {
  border: 5px solid var(--accent);
  border-radius: var(--border-radius);
  width: 100%;
}

@media (min-width: 768px) {
  .grid-cell[data-contents="photo"] img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

/** Photo Gallery */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--spacing) * 3);
}

.photo-gallery-item figure {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}