:root {
  --spacing: 1rem;
  --border-radius: 0.5rem;
  --border-radius-small: 5px;
  --font-size-900: 1.802rem;
  --font-size-800: 1.602rem;
  --font-size-700: 1.424rem;
  --font-size-600: 1.266rem;
  --font-size-500: 1.125rem;
  --font-size-400: 1rem;
  --font-size-300: 0.889rem;
  --font-size-200: 0.79rem;
  --font-size-100: 0.702rem;
  --accent: #f5b302;
  --gray: #eee;
  --button-color: var(--accent);
  --font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  padding: var(--spacing);
  margin: 0;
  background-color: #000;
  background-image: url(https://f4.bcbits.com/img/0026236991_130.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: minmax(300px, 10vw) 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
  }
}

img,
iframe {
  max-width: 100%;
}

a {
  color: var(--accent);
  cursor: pointer;
}

/** Utilities */
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.button,
button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--button-color);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: none;
  font-family: var(--font-family);
  cursor: pointer;
}

.button:focus,
.button:active,
.button:hover,
button:focus,
button:active,
button:hover {
  transform: scale(1.1);
}

/** Header */
header {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

h1 img {
  display: block;
  width: 700px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul * {
  color: var(--accent);
}

#mc_embed_signup_scroll {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: calc(var(--spacing) * 2);
}

form input[type="email"] {
  border: none;
}

form input[type="submit"] {
  display: block;
  height: 100%;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin-right: 1ch;
  }

  nav ul li:not(:last-child)::after {
    margin-left: 1ch;
    content: "/";
  }
}

@media (min-width: 1200px) {
  nav ul li:first-child {
    display: none;
  }
}

/** Shows */
.shows {
  grid-column: 1/2;
  grid-row: 1/-1;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: var(--spacing);
  background-color: var(--accent);
  box-shadow: 0.75rem 0.75rem 0 #fff;
  border: 5px solid #000;
  border-top-left-radius: var(--border-radius);
}

.shows h2 {
  margin-top: 0;
  background-color: var(--accent);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #000;
  font-size: var(--font-size-400);
  padding-bottom: 0.5rem;
}

.show + .show {
  padding-top: var(--spacing);
  margin-top: var(--spacing);
  border-top: 1px solid #000;
}

.show > a {
  display: block;
  text-decoration: none;
  color: #000;
  position: relative;
}

.show > a:hover::after {
  content: "More Info >";
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-100);
  text-transform: uppercase;
}

.show__date {
  font-size: var(--font-size-200);
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
  display: inline-block;
}

.show__badge {
  margin: 0;
  font-size: var(--font-size-300);
}

.show__badge::before {
  content: '(';
}

.show__badge::after {
  content: ')';
}

.show__city {
  margin: 0;
  font-size: var(--font-size-300);
}

.show__otherbands {
  margin: 0;
  font-size: var(--font-size-100);
}

.show__link {
  margin: 0;
  font-size: var(--font-size-200);
}

@media (min-width: 1200px) {
  .shows-inner {
    height: calc(100vh - calc(var(--spacing) * 5));
    overflow: auto;
    scrollbar-width: 1px;
  }
}

/** Main */
main {
  color: #fff;
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacing) * 4);
}

@media (min-width: 768px) {
  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  main {
    padding: calc(var(--spacing) * 4);
    grid-column: 2/3;
    grid-row: 2/-1;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.grid-cell {
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
    to bottom right,
    #000,
    #000 60%,
    rgba(255, 255, 255, 0.2) 60%
  );
  padding: clamp(var(--spacing), 2vw, calc(var(--spacing) * 2));
  box-shadow: 0.75rem 0.75rem 0 var(--accent);
  border: 5px solid #fff;
  border-top-left-radius: 1rem;
  transition: 0.1s;
}

.grid-cell[data-contents="merch"] {
  text-align: center;
}

.grid-cell[data-contents="merch"] a,
.grid-cell[data-contents="merch"] img {
  display: block;
}

.grid-cell[data-contents="bandcamp"] iframe + iframe {
  margin-top: var(--spacing);
}

.grid-cell[data-contents="quotes"] blockquote {
  margin: 0;
}

.grid-cell[data-contents="quotes"] blockquote + blockquote {
  margin-top: var(--spacing);
  padding-top: var(--spacing);
  border-top: 1px solid #fff;
}

.grid-cell[data-contents="quotes"] blockquote cite {
  display: block;
}

.grid-cell[data-contents="video"] {
  grid-column: 1/-1;
}

.grid-cell[data-contents="video"] iframe {
  border: 5px solid var(--accent);
  border-radius: var(--border-radius);
  width: 100%;
}

.grid-cell h2 {
  margin-top: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .grid-cell:hover {
    transform: scale(1.025);
    box-shadow: 1.25rem 1.25rem 0 var(--accent);
  }
}
