:root {
  --body-bg: #000;
  --main-text-color: #fff;
  --main-text-color: #fff;
  --menu-color: #fff;
  --spacing: 1rem;
  --border-radius: 0.5rem;
  --border-radius-small: 5px;
  --font-size-900: 1.802rem;
  --font-size-800: 1.602rem;
  --font-size-700: 1.424rem;
  --font-size-600: 1.266rem;
  --font-size-500: 1.125rem;
  --font-size-400: 1rem;
  --font-size-300: 0.889rem;
  --font-size-200: 0.79rem;
  --font-size-100: 0.702rem;
  --primary: #fff;
  --accent: #ffe771;
  --gray: #eee;
  --button-color: var(--accent);
  --font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  --container: 100vw;
  --container-small: 600px;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  padding: var(--spacing);
  margin: 0;
  background-color: var(--body-bg);
  background-image: url(images/press/Jake-Blurry-Somerville-Zoe-Hopper.jpg);
  background-size: 65vw auto;
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: var(--main-text-color);
}

body::before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(to right, #000, transparent);
}

body>* {
  position: relative;
}

@media screen and (max-width: 767px) {
  body {
    background-image: none;
  }
}

@media screen and (min-width: 768px) {
  body::after {
    content: 'Background image by Zoe Hopper';
    position: fixed;
    font-size: 0.75rem;
    bottom: 5px;
    right: 5px;
  }
}

img,
iframe {
  max-width: 100%;
}

a {
  color: var(--link-color);
  cursor: pointer;
}

p {
  line-height: 1.6;
}

h1 {
  margin: 0 0 calc(var(--spacing) * 2);
  text-align: center;
}

h1:not(.logo),
h2 {
  background-color: var(--accent);
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.25);
  color: #000;
  padding: 5px 10px;
}

h2 {
  display: inline-block;
  margin-bottom: 1rem;
}

/** Utilities */
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.button,
button {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 3px solid #fff;
  cursor: pointer;
}

.button:focus,
.button:active,
.button:hover,
button:focus,
button:active,
button:hover {
  outline: 2px dotted #000;
}

/** Header */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: calc(var(--spacing) * 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin: 0;
}

.logo a,
.logo img {
  display: block;
}

.logo img {
  filter: invert(100%);
}

@media (max-width: 767px) {
  .logo img {
    margin: auto;
  }
}

h1 a {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

nav ul * {
  color: var(--menu-color);
}

nav ul svg {
  width: 2ch;
  max-height: 2ch;
  fill: var(--menu-color);
}

nav ul a {
  text-decoration: none;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
  text-decoration: underline;
}

blockquote {
  display: inline-block;
  margin: 0 0 var(--spacing);
  padding: 5px;
  font-style: italic;
}

#mc_embed_signup {
  flex: 100%;
  text-align: center;
  margin-bottom: var(--spacing);
}

#mc_embed_signup_scroll {
  display: inline-grid;
  grid-template-columns: auto auto;
}

form input[type="email"] {
  border: 2px solid #fff;
  padding: 8px;
}

form input[type="submit"] {
  display: block;
  height: 100%;
}

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: var(--spacing);
    text-align: left;
  }

  nav ul {
    display: flex;
    justify-content: start;
  }

  .links--social ul {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul li {
    margin-right: 1ch;
  }

  #mc_embed_signup {
    text-align: right;
  }

  .mobile-image {
    display: none;
  }
}

/** Shows */
.shows {
  color: var(--primary);
}

.show {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
  border-top: 1px dotted #bfbda1;
  padding: 10px 0;
}

.shows-inner {
  width: 100%;
}

.show__main {
  flex: 1 1;
}

.show__date {
  font-size: var(--font-size-100);
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

.show__badge {
  margin: 0;
  font-size: var(--font-size-200);
}

.show__badge::before {
  content: '(';
}

.show__badge::after {
  content: ')';
}

.show__city {
  margin: 5px 0;
  font-size: var(--font-size-400);
}

.show__city strong {
  display: inline-block;
  color: var(--primary);
  text-transform: uppercase;
}

.show__otherbands {
  margin: 0;
  font-size: var(--font-size-200);
  font-style: italic;
}

.show__link-p {
  margin: 0;
}

.show__link {
  margin: 0;
  font-size: var(--font-size-200);
}

@media (min-width: 1200px) {
  .shows-inner {
    overflow: auto;
    scrollbar-width: 1px;
  }
}

/** Main */
main {
  color: var(--main-text-color);
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
  font-size: var(--font-size-400);
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing);
}

@media (min-width: 768px) {
  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing) * 2);
  }
}

@media (min-width: 1200px) {
  main {
    grid-column: 2/3;
    grid-row: 2/-1;
    max-width: var(--container-small);
  }
}

.grid-cell[data-contents="tour"] {
  text-align: center;
  border-top: 0;
}

.grid-cell[data-contents="album"] {
  text-align: center;
  border-top: 0;
}

.grid-cell[data-contents="album"] img {
  border: 3px solid #000;
}

.grid-cell[data-contents="photo"] {
  padding: 0;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: none !important;
  transform: none !important;
}

.grid-cell--full {
  grid-column: 1/-1;
}

.grid-cell[data-contents="photo"] img {
  display: block;
}

.grid-cell[data-contents="merch"] {
  text-align: center;
}

.grid-cell[data-contents="merch"] a,
.grid-cell[data-contents="merch"] img {
  display: block;
}

.grid-cell[data-contents="bandcamp"] iframe {
  border: 3px solid var(--accent);
}

.grid-cell[data-contents="bandcamp"] iframe+iframe {
  margin-top: var(--spacing);
}

.grid-cell[data-contents="quotes"] blockquote {
  margin: 0;
}

.grid-cell[data-contents="quotes"] blockquote+blockquote {
  margin-top: var(--spacing);
  padding-top: var(--spacing);
  border-top: 1px solid var(--accent);
}

.grid-cell[data-contents="quotes"] blockquote cite {
  display: block;
}

.video-box iframe {
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  width: 100%;
}

.video-box {
  padding: 2rem 0;
}

.video-title {
  margin-bottom: 1rem;
}

.video-title h3,
.video-title p {
  display: inline;
}

.video-title p {
  font-style: italic;
  font-size: var(--font-size-200);
}

.video-title p::before {
  content: '(';
}

.video-title p::after {
  content: ')';
}

@media (min-width: 768px) {
  .grid-cell[data-contents="photo"] img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

/** Photo Gallery */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--spacing) * 3);
}

.photo-gallery-item:hover img {
  transform: scale(1.05);
}

.photo-gallery-item img {
  border-radius: var(--border-radius-small);
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photo-gallery-item figure {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: var(--font-size-200);
  margin-top: calc(var(--spacing) / 2);
}